
header{
    background-color: #244751;
    color: #E8FDFF;
}

main{
    position: relative;
    background-color: whitesmoke;
    padding: 16px;
    
    
}

body{
    background-color: whitesmoke;
    font-family: PT Sans;
}

.post{
   
    background-color: #fafafa;
  
    
}
.post .user-info{
    height: 64px;
    padding: 14px 20px;
}
.user-info{
    flex-direction:row;
}
.footer{
    background-color: white;
}
.photo {
    display: block;
    background-color: #efefef;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #3b1e1e;
}
.user-info{
    background-color: white;
     border-top: 1px solid white;
    border-bottom: 1px solid white;
}
article.post div h2  {
    display: inline;
}
.actions .comment-count{
    font-family: PT Sans;
    color: blue;
}




.post .user-info img {
    border-radius: 50%;
}

.p{
    font-family: PT Sans;
}

.comments{
    margin-bottom:7px;
    position: relative;
    word-wrap: break-word;
}
